task: SqlAzureDacpacDeployment@1
  displayName: Execute Azure SQL : DacpacTask
  inputs:
    azureSubscription: 'Free Trial'
    ServerName: 'azure-pipeline-server.database.windows.net'
    DatabaseName: 'Pipeline-database'
    SqlUsername: 'kalash'
    SqlPassword: 'Life@9876'
    DacpacFile: '<Location of Dacpac file in $(Build.SourcesDirectory) after compilation>'
